ol {
  list-style-type: circle;
}

.vote-panel {
  display: none;
}

.vote-panel-show {
  display: block;
}

/* #d222 {
  font-size: 20px;
} */

/* .voit-button {
  display: none;
} */
