<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   <link href="../css/style.css" rel="stylesheet">
    <link href="../css/active.css" rel="stylesheet">
  <!--<script src="../js/life_conference.js"></script>-->

</head>
<body>
  <header>

  </header>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" href="#">Студентська колегія НАУКМА</a>
        </div>
    </div>
</nav>
    <div class="conteiner">
    <div class="row content">
        <div class="col-2 sidenav">
            <h3><a href="../../../../../../../Downloads/Telegram%20Desktop/hakaton/inactive.html">Поточна конференція</a></h3>
            <h3><a href="active.html">Майбутня конференція</a></h3>
            <h3><a href="#">Історія конференцій</a></h3>
        </div>
        <div class="col-10">
  <div class="quations-list">
    <ol>
      <li onclick="list_click(1)">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ducimus consectetur culpa deserunt error, beatae esse id molestiae mollitia commodi dignissimos distinctio unde amet fuga doloribus corrupti tempore velit sint?
          <div id="vote-panel1" class="vote-panel">
            <div class="vote-button"><button class="option" onclick="delete_elem()">За</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Утриматися</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Проти</button></div>
          </div>
        </p>
      </li>
      <li onclick="list_click(2)">
        <p>Error fugit, similique saepe voluptates veritatis ex labore ad nobis sed aliquid ipsa molestiae asperiores unde deserunt numquam delectus. Rerum reprehenderit, esse error vitae natus sapiente ratione ad ipsam non.
          <div id="vote-panel2" class="vote-panel">
            <div class="vote-button"><button class="option" onclick="delete_elem()">За</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Утриматися</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Проти</button></div>
          </div>
        </p>
      </li>
      <li onclick="list_click(3)">
        <p>Itaque, molestiae. Temporibus, perferendis debitis! Non possimus necessitatibus commodi dolorem dolore, nam deserunt mollitia, quisquam saepe laboriosam pariatur, inventore quos totam deleniti aliquam numquam aspernatur repellat vero dicta. Labore, fuga.
          <div id="vote-panel3" class="vote-panel">
            <div class="vote-button"><button class="option" onclick="delete_elem()">За</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Утриматися</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Проти</button></div>
          </div>
        </p>
      </li>
      <li onclick="list_click(4)">
        <p>Minus nam, voluptas consequatur quo quasi cumque. Ducimus a dolor ex, veritatis reprehenderit distinctio. Ad incidunt porro neque! Doloremque nisi quidem cupiditate consequuntur, eum, nam repellendus culpa. Inventore, nisi, qui.
          <div id="vote-panel4" class="vote-panel">
            <div class="vote-button"><button class="option" onclick="delete_elem()">За</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Утриматися</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Проти</button></div>
          </div>
        </p>
      </li>
      <li onclick="list_click(5)">
        <p>Saepe enim cupiditate fuga ut reiciendis beatae laboriosam quo officia repellat minima harum maiores consectetur, temporibus dignissimos voluptatibus veniam eveniet ea natus atque sapiente quibusdam quasi nobis obcaecati ab! Error?
          <div id="vote-panel5" class="vote-panel">
            <div class="vote-button"><button class="option" onclick="delete_elem()">За</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Утриматися</button></div>
            <div class="vote-button"><button class="option" onclick="delete_elem()">Проти</button></div>
          </div>
        </p>
      </li>
    </ol>
  </div>
</div>

  <footer>

  </footer>
</body>
</html>
