<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        function checkParams() {
            var name = $('#nameforconf').val();
            var date = $('#dateforconf').val();
            var url = $('#fileforconf').val();

            if (name.length != 0 && date.length != 0 && url.length != 0) {
                $('#submit').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
            }
        }
    </script>
    <script>
        var $form = $( this ),
            url= $form.atrr("action"),
            name = $form.find( "input[name='nameforconf']" ).val(),
            date = $form.find( "input[name='dateforconf']" ).val(),
            file = $form.find( "input[name='fileforconf']" ).val();
        var posting = $.post( url, { s: name, p :date, k:file } );
        alert(posting)
    </script>
    <style>
        .row.content {height: 1000px}
        .keks {
            height: 1000px;
            padding: 50px;
        }
        .sidenav {
            padding-top: 50px;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 50px;
            height: 100%;

        }
        .conteiner {
            column-rule-width: medium;
            line-height: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="navbar-brand" href="#">Студентська колегія НАУКМА</h1>
        </div>
    </div>
</nav>
<div class="conteiner">
    <div class="col-sm-2 keks">
        <div class="row content">
            <h3><a href="#">Поточна конференція</a></h3>
            <h3><a href="#">Майбутня конференція</a></h3>
            <h3><a href="#">Історія конференцій</a></h3>
            <h3><a href="#">Члени КС</a></h3>
            <h3><a href="#">Створити конференцію</a></h3>
        </div>
    </div>
    <div class="col-sm-10 sidenav">
       <div class="row content">
           <div class="col-sm-6 col-sm-4">
           <div class="top-cover centre-block">
               <h3>Створення нової конференції:</h3>
               <form action="login.html">
                   <div class="form-group">
                       <label for="nameforconf">Введіть назву конференції</label>
                       <input type="name" class="form-control" id="nameforconf" placeholder="Enter name">
                   </div>
                   <div class="form-group">
                       <label for="dateforconf">Введіть дату конференції</label>
                       <input type="name" class="form-control" id="dateforconf" placeholder="Enter date (xx.xx.xxxx)">
                   </div>
                   <div class="form-group">
                       <label for="fileforconf">Силка на документ з питаннями на розгляд</label>
                       <input type="name" class="form-control" id="fileforconf" placeholder="Enter url">
                   </div>
                   <button type="submit" id="submit" class="btn btn-primary">Submit</button>
               </form>
           </div>
           </div>
       </div>
</div>
</div>
</body>
</html>
